<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soundmentor.soundmentorweb.mapper.PptTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soundmentor.soundmentorpojo.DO.PptTaskDO">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="original_ppt_file_url" property="originalPptFileUrl" />
        <result column="task_status" property="taskStatus" />
        <result column="audio_ppt_file_url" property="audioPptFileUrl" />
        <result column="total_pages" property="totalPages" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
