<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soundmentor.soundmentorweb.mapper.UserPptDetailMapper">

    <update id="updateSummary" parameterType="com.soundmentor.soundmentorpojo.DTO.ppt.PPTPageSummaryTaskDTO">
        update user_ppt_detail set summary = #{content} where user_ppt_id = #{userPptId} and ppt_page = #{page}
    </update>
</mapper>
